.logo-home
    position relative
    width 100px 
    height 100px  

.logo-fac
    width 100%
    height auto

.check
    position relative
    left 70%
    top 100%
    width 44.41px 
    height 32.33px
