.logo-home
    position relative
    width 100px  // Ajuste conforme necessário
    height 100px  // Ajuste conforme necessário

.logo-fac
    width 100%
    height auto

.check
    position absolute
    top -8%  // Ajuste conforme necessário
    left 70%  // Ajuste conforme necessário
    width 44.41px  // Ajuste conforme necessário
    height 32.33px
