.main-container-home
    display flex
    justify-content center
    align-items center
    height 100vh
    width 100vw
    background-color #E9F4FB

.side-bar-main
    position absolute
    left 0%

.categories-bar-main
    position absolute
    left 106px

.header-main
    width 100%
    position: absolute
    left:  0%
    top 0%

.settings-tittle
    font-family Gilroy_Bold
    position  absolute
    top 8%
    left 10% 
    