

.task-title-main
    background none
    width 100%
    height 40px
    max-height 50px
    max-width 578px
    border-color #BFDAEB
    border-radius 5px
    border-style solid
    padding-left  19px
    font-family Gilroy_Regular
    color #283848
    outline none
    box-sizing border-box

.tittle-legend
    font-family Gilroy_SemiBold
    color #4E657B
