.kebab-menu-container
    position: relative

.kebab-menu-main
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    position: absolute
    right: 0
    top: 100%
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
    height: auto
    width: 80px
    background-color: white
    border-radius: 5px
    gap: 10px
    font-family Gilroy_SemiBold
    padding: 10px
    z-index 10

.edit-button, .delete-button
    background-color: transparent
    font-size: 14px
    font-weight: 600
    color: #748CA5
    display: flex
    align-items: center
    border none
    &:hover
        color: #000
        cursor: pointer
        .dot
            background-color: #5ECDA5

.kebab-menu-main span.dot
    display: inline-block
    width: 9px
    height: 9px
    border-radius: 50%
    margin-right: 10px
    background-color: #D6E6EF

.fa-ellipsis-vertical
    font-size: 20px
    color: #D6E6EF
    cursor: pointer
    z-index: 5
    position: absolute
    top: -25px
    right: 5px

.task-label-menu-opened
    color: #000 !important

.task-item-menu-clicked span 
    background-color: success1

.task-label-menu-opened-icon 
    color: #5ECDA5