.task-desc-main
    background none
    width 100%
    height 10rem
    max-height 183px
    max-width 578px
    border-color #BFDAEB
    border-radius 5px
    border-style solid
    padding-left  19px
    padding-top 10px
    padding-right 10px
    font-family Gilroy_Regular
    color #283848
    outline none
    box-sizing border-box
    resize: none;

.desc-legend
    font-family Gilroy_SemiBold
    color #4E657B