@import '~@/assets/stylus/fonts.styl'

.main-container
    display flex
    justify-content center
    align-items center
    height 100vh
    width 100vw

.blue-container
    position relative
    margin-left 0
    width 40%
    height 100%
    background: #2693FF
    display flex
    justify-content center
	align-items center
    flex-direction column

.blue-container-content
    display flex
    justify-content center
    align-items left
    height 100%
    width 100%
    flex-direction column
    position relative
    left 30%

    p
        color #FFF
        font-family: Gilroy_Medium
        position relative
        top -4.5%

    .logo-type-login
        position relative
        top 3%

    .main-title
        color #FFF
        font-size 48px
        .title-bold
            font-family Gilroy_Bold
        .title-regular
            font-family Gilroy_Regular

.form-container
    width 60%
    display flex
    flex-direction column
    justify-content center
    align-items center

    form
        display flex
        flex-direction column
        align-items left
        justify-content center
        width 30%

    .email-block,
    .password-block
      width 80%
      margin-bottom 20px
      font-family Gilroy_SemiBold
      font-size 14px
      color #4E657B
      text-align left

    .email-input,
    .password-input
      margin-top 5px
      letter-spacing: 0.15px;

    p
        font-family: Gilroy_Bold
        margin-bottom 36px

    a
        font-family Gilroy_SemiBold
        font-size 13px
        color #2693FF
        text-decoration underline
        padding 42px 0px 0px 0px

    .login-button
        width 157%
        margin-top 0px
        font-family Gilroy_SemiBold
        text-align center