@import '~@/assets/stylus/fonts.styl'

.main-container
    display flex
    justify-content center
    align-items center
    height 100vh
    width 100vw

.blue-container
    position relative
    margin-left 0
    width 40%
    height 100%
    background: #2693FF
    display flex
    justify-content center
	align-items center
    flex-direction column

.blue-container-content
    display flex
    justify-content center
    align-items left
    height 100%
    width 100%
    flex-direction column
    position relative
    left 30%

    p
        color #FFF
        font-family: Gilroy_Medium
        position relative
        top -4.5%

    .logo-type-login
        position relative
        top 3%

    .main-title
        color #FFF
        font-size 48px
        .title-bold
            font-family Gilroy_Bold
        .title-regular
            font-family Gilroy_Regular

.form-container
    width 60%
    form
        display flex
        flex-direction column
        justify-content center